<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Icons, CSS, and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}"" />
    <script src="{{ url_for('static', filename='js/bootstrap.js')}}" type="module"></script>

    <!-- Load SocketIO, jQuery, and PixiJS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.8.0/socket.io.esm.min.js" type="module"></script>
    <script src="https://pixijs.download/release/pixi.js"></script>

    <!-- Custom scripts! -->
    <script src="{{ url_for('static', filename='js/utils.js')}}" type="module"></script>
    <script src="{{ url_for('static', filename='js/sockets.js')}}" type="module"></script>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    
    <!-- Add custom OpenGraph (and Twitter) content -->
    <meta property="og:title" content="Aquarium Online" />
    <meta name="twitter:title" content="Aquarium Online" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@quoctran98" />
    <meta property="og:description" content="A collaborative aquarium simulation game." />
    <meta name="twitter:description" content="A collaborative aquarium simulation game." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://AquariumOnline.net" />
    <meta property="og:image:url" content="{{ url_for('static', filename='img/favicon.png') }}" />
    <meta name="twitter:image" content="{{ url_for('static', filename='img/favicon.png') }}" />

    <title>AquariumOnline.net</title>
</head>

<body>
    
    <!-- FLASH MESSAGES -->
    <div class="gets-blurred" id="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="container has-text-centered">
                <div class="alert {{ category }}" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>

    <!-- HIDDEN DIV OF USER (OR GUEST) INFO -->
    <div id="user-info" style="display: none;">
        {{ dict_to_html(current_user.summarize_public) | safe }}
    </div>

    <!-- CONTENT INSERTED BY DIFFERENT PAGES -->
    <div>
        {% block content %}
        {% endblock %}
    </div>
    
</body>

</html>
