{% extends "base.html" %}

{% block content %}

<script src="{{ url_for('static', filename='js/models/userModels.js')}}" type="module"></script>
<script src="{{ url_for('static', filename='js/models/gameModels.js')}}" type="module"></script>
<script src="{{ url_for('static', filename='js/models/interactionModels.js')}}" type="module"></script>
<script src="{{ url_for('static', filename='js/chat.js')}}" type="module"></script>
<script src="{{ url_for('static', filename='js/store.js')}}" type="module"></script>
<script src="{{ url_for('static', filename='js/apps/aquariumApp.js')}}" type="module"></script>

<div id="full-screen-container" class="gets-blurred"> 

    <!-- For PixiJS canvas -->
    <div id="aquarium-container"></div>

    <!-- Sidebar for user management and chat -->
    <div id="sidebar">
        <div id="sidebar-header">
            <p>Welcome, {{ current_user.username }}! You have $<span class="user-money">{{ current_user.money }}</span>.</p>
            {% if current_user.is_authenticated %}
                <a href="/logout">Logout</a>
            {% else %}
                <form id="login-form" class="form-inline" action="/login" method="post">
                    <input type="text" id="username" name="username" placeholder="Username">
                    <input type="password" id="password" name="password" placeholder="Password">

                    <button type="submit" >Login</button>
                    <a href="#" id="switcheroo-link">Click here to sign up</a>
                </form>
                <script type="text/javascript">
                    $('#switcheroo-link').click(function() {
                        if ($("#login-form").attr("action") == "/login") {
                            $("#login-form").attr("action", "/signup");
                            $("#login-form").append('<input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password">');
                            $("#login-form button").text("Sign Up");
                            $("#switcheroo-link").text("Click here to login");
                        } else {
                            $("#login-form").attr("action", "/login");
                            $("#confirm-password").remove();
                            $("#login-form button").text("Login");
                            $("#switcheroo-link").text("Click here to sign up");
                        }
                    });
                </script>

            {% endif %}
            
        </div>

        <hr>

        
        <div class="tab-container" id="sidebar-tabs">
            <div class="tab-buttons">
                <button class="tab-button active" onclick="showTab(event, 'chat-tab')">Chat</button>
                <button class="tab-button" onclick="showTab(event, 'store-tab')">Store</button>
                <button class="tab-button" onclick="showTab(event, 'tab3')">Tab 3</button>
            </div>
        
            <div class="tab-content active" id="chat-tab">
                <div id="chat-container">
                    <div id="chat-messages-container"></div>
                    <form id="chat-form">
                        <input type="text" name="message" id="message" placeholder="Type a message..." style="flex:1">
                        <button type="submit" class="btn btn-primary"><i class="bi-send-fill"></i></button>
                    </form>
                </div>
            </div>
            <div class="tab-content" id="store-tab">
                <div id="store-container"></div>
            </div>
            <div class="tab-content" id="tab3">
                <p>This is content for Tab 3.</p>
            </div>
        </div>
        <script type="text/javascript">
            function showTab(event, tabId) {
                // Remove active class from all tab buttons and contents
                $(".tab-button").removeClass("active");
                $(".tab-content").removeClass("active");

                // Add active class to the selected tab button and content
                $(event.target).addClass("active");
                $("#" + tabId).addClass("active");
            }
        </script>
    </div>
</div>

{% endblock %}
